
    * {
        -fx-white: #F7F7F7;
        -fx-blue: #00A6D6;
        -fx-dark-blue: #0066a2;
        -fx-border-gray: #B0BEC5;
        -fx-text-gray: #C4C4C4;
        -fx-blue-green: #82D7C6;
        -fx-green: #39C86A;
        -fx-red: #C3312F;
        -fx-yellow: #F1BE3E;
        -fx-font-family: Roboto;
        -fx-padding: 0px 0px 0px 0px;
    }

    .button {
        -fx-background-color: -fx-blue;
        -fx-background-radius: 6px;
        -fx-font: 18px Roboto;
        -fx-text-fill: -fx-white;
    }

    .button:hover {
        -fx-background-color: -fx-dark-blue;
    }

    .check-box > .box {
        -fx-padding: 0.166667em 0.166667em 0.25em 0.25em; /* 2 2 3 3 */
    }

    .check-box > .box > .mark {
        -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    }

    .tudLogo {
        -fx-background-image: url(/images/tudLogo.png) ;
        -fx-background-color: Transparent;
        -fx-min-height: 90px;
        -fx-min-width: 228px;
        -fx-max-height: 90px;
        -fx-max-width: 228px;
    }

    /*This should be added somewhere else!*/
    .mainSceneEnterRoomCode{
        -fx-background-color: -fx-white;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
        -fx-border-width: 2px;
        -fx-border-color: -fx-border-gray;
        -fx-font: 18px Arial;
        -fx-prompt-text-fill: -fx-text-gray;
        -fx-text-fill: black;
    }


    .headerText{
        -fx-font-size: 36px;
    }

    .leaveLecture{
        -fx-background-color: #C3312F;
        -fx-background-radius: 10px;
        -fx-font: 18px Arial;
        -fx-text-fill: -fx-white;
    }

    .leaveLecture:hover{
        -fx-background-color:  #fa6866;
    }

    .settingsButton{
        -fx-background-image: url(/images/Gear.png) ;
        -fx-background-color: Transparent;
    }

    .deleteButton{
        -fx-graphic: url(/images/trash.png);
        -fx-background-color: Transparent;
    }

    .markAsAnsweredButton {
        -fx-graphic: url(/images/markAsAnswered.png);
        -fx-background-color: Transparent;
    }

    .settingsButton:hover{
        -fx-background-image: url(../images/Gear_gray.png);
        -fx-opacity: 0.5;
    }

    .sidebarButton{
        -fx-background-image: url(/images/threeLines.png);
        -fx-background-color: Transparent;
    }

    .sidebar{
        -fx-background-color: rgb(199,199,199);
        -fx-border-color: gray;
    }

    .textBox {
        -fx-background-color: -fx-white;
        -fx-background-radius: 7px;
        -fx-font-size: 36px;
        -fx-text-fill: black;
        -fx-pref-width: 455.25px;
        -fx-pref-height: 50.25px;

        -fx-border-radius: 7px;
        -fx-border-width: 2px;
        -fx-border-color: -fx-border-gray;
        -fx-prompt-text-fill: -fx-text-gray;

    }

    .backButton {
        -fx-background-color: -fx-blue;
        -fx-background-radius: 7px;
        -fx-font: 27px Roboto;
        -fx-text-fill: -fx-white;
        -fx-pref-width: 136.5px;
        -fx-pref-height: 50.25px;
    }

    .backButton:hover {
        -fx-background-color:  -fx-dark-blue;
    }

    .upvoteButton {
        -fx-background-color: lightgreen;
        -fx-background-radius: 10px;
        -fx-font: 10px Arial;
        -fx-text-fill: black;
    }

    .answeredTick {
        -fx-graphic: url(/images/tick.png);
        -fx-background-color: Transparent;
    }

    .debugButton {
        -fx-background-color: white;
        -fx-text-fill: gray;
        -fx-border-style: solid;
        -fx-border-color: gray;
        -fx-border-width: 1px;
        -fx-border-radius: 7px;
    }

    .debugButton:hover {
        -fx-background-color: rgb(250,250,250);
        -fx-opacity: 0.5;
    }





