
    * {
        -fx-white: #F7F7F7;
        -fx-blue: #00A6D6;
        -fx-dark-blue: #0066a2;
        -fx-border-gray: #B0BEC5;
        -fx-text-gray: #C4C4C4;
        -fx-blue-green: #82D7C6;

    }
    .tudLogo {
        -fx-background-image: url(/images/tudLogo.png) ;
        -fx-background-color: Transparent;
        -fx-min-height: 119px;
        -fx-min-width: 306px;
        -fx-max-height: 119px;
        -fx-max-width: 306px;

    }

    .mainScenePane {
        -fx-background-color: -fx-white;

    }


    .mainSceneButton {

        -fx-background-color: -fx-blue;
        -fx-background-radius: 10px;
        -fx-font: 18px Arial;
        -fx-text-fill: -fx-white;
    }

    .mainSceneButton:hover{
        -fx-background-color:  -fx-dark-blue;
    }

    .mainSceneEnterRoomCode{
        -fx-background-color: -fx-white;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
        -fx-border-width: 2px;
        -fx-border-color: -fx-border-gray;
        -fx-font: 18px Arial;
        -fx-prompt-text-fill: -fx-text-gray;
        -fx-text-fill: black;
    }

    .headerText{
        -fx-font-size: 36;
    }

    .leaveLecture{
        -fx-background-color: #C3312F;
        -fx-background-radius: 10px;
        -fx-font: 18px Arial;
        -fx-text-fill: white;
    }

    .leaveLecture:hover{
        -fx-background-color:  #fa6866;
    }

    .settingsButton{
        -fx-background-image: url(/images/Gear.png) ;
        -fx-background-color: Transparent;
    }

    .settingsButton:hover{
        -fx-background-image: url(../images/Gear_gray.png);
    }

    .sidebarButton{
        -fx-background-image: url(/images/threeLines.png);
        -fx-background-color: Transparent;
    }

    .sidebar{
        -fx-background-color: -fx-blue-green;
    }







